/* .pic{
    background-image: url('../../assets/pic.jpg');
   min-height:100%;
   height:600px;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
   background-attachment: fixed;
} */